<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/glitch.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <script>

    function postFormTo(form_id, endpoint, hiddenInputName, hiddenInputValue) {
        let myform = document.getElementById(form_id)
        console.log("Form elements: "+myform.elements.length)
        let input = document.createElement("input")
        input.setAttribute("type", "hidden")
        input.setAttribute("name", hiddenInputName)
        input.setAttribute("value", hiddenInputValue)
        myform.appendChild(input)
        myform.action=endpoint; 
        myform.submit();
    }
    </script>

<script src="https://kit.fontawesome.com/57c6238ce1.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="/" class="icon-link"><i class="fa-solid fa-house"></i></a>
    <hr>